* {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
}

.offer {
    background-color: #1D232C;
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 5px;

}

.close {
    margin-left: 50px;
    cursor: pointer;
    font-weight: 900px;
}

.close:hover {
    color: red;
}

.hidden {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    position: sticky;
    top: 10;

}

.navbar h1 {
    font-size: 25px;
    color: #1D232C;
    margin-left: 5px
}

.fa-solid.fa-bars {
    cursor: pointer;
    margin-right: 10px;

}

.fa-solid.fa-bars:hover {
    color: red;
}

.sidenav {
    background-color: #1D232C;
    color: white;
    position: fixed;
    height: 100vh;
    width: 50%;
    z-index: 10;
    top: 0;
    padding: 30px;
    display: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li {
    list-style-type: none;
    margin-bottom: 20px;
    cursor: pointer;

}

.menu li:hover {
    text-decoration: underline;
}

.close-navbar p {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.slidder {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 20px;


}

.left {
    position: absolute;
    color: white;
    top: 40%;
    left: 10%;

}

.right {
    position: absolute;
    color: white;
    top: 40%;
    right: 10%;


}

.con {
    font-size: 12px;
    position: absolute;
    color: white;
    left: 23%;
    top: 30%;
    text-align: center;
}

.buttonshop {
    position: absolute;
    bottom: 20%;
    left: 40%;
    padding: 5px;
    font-size: 10px;
}

.buttonshop:hover {
    color: white;
    background-color: red;

}


.fa-solid.fa-chevron-left:hover {
    color: rgb(154, 154, 154);

}

.fa-solid.fa-chevron-right:hover {
    color: rgb(154, 154, 154);
}

.title {
    margin-left: 10px;

}

.brand {
    display: flex;


    justify-content: space-around;
    margin: 20px 5px;
    margin-bottom: 10px;
}

.brand-items {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-items h2 {
    margin-top: 5px;
    font-size: 5px;
}

.customer-experience {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.customer-experience h3 {
    font-size: 8px;
    margin-left: 10px;
}

.customer-experience p {
    font-size: 6px;
    margin-left: 10px;
}

.cards {


    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 6px;
    width: 95%;
}

.card {
    width: 18%;
    background-color: #F2F4F7;
    padding: 7px;
    border-radius: 10px;
}


.new-arraivals {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.arraivals {
    padding: 10px;
    position: relative;
}

.arraivals button {
    font-size: 6px;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom: 30%;
    left: 30%;



}

.arraivals button:hover {
    color: #F2F4F7;
    background-color: black;
    border: black solid 1px;


}

.most-wanted {
    display: flex;
}

.wanted {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fa-solid.fa-heart {
    position: absolute;
    right: 15%;
    bottom: 15%;
    cursor: pointer;

}

.sale {
    position: absolute;
    font-size: 6px;
    background-color: red;
    color: white;
    padding: 3px;
}

.fa-solid.fa-heart:hover {
    color: red;
}

.limited {
    background-color: #1D232C;
    padding: 12px;
    display: flex;
    margin-top: 10px;
    margin: 20px;
}

.limited-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 8px;
    color: white;

}

.limited-2 button {
    font-size: 10px;
    margin-top: 5px;
    padding: 2px;
    cursor: pointer;
}

.limited-2 button:hover {
    background-color: black;
    color: white;

}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.subscribe h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.subscribe p {
    font-size: 10px;
    margin-bottom: 10px;
}


.btn {
    display: flex;
    justify-content: center;


}

.input {
    width: 90%;
    padding: 10px;
}

.btn button {
    background-color: #1D232C;
    padding: 5px 10px;
    color: white;
    margin-bottom: 20px;
    border: none;
}

.btn button:hover {
    background-color: red;
}

.footer {
    background-color: #1D232C;
    color: white;
    padding: 40px 30px;
    font-size: 12px;

}

footer h3 {
    margin-bottom: 10px;
}

.footer p {
    font-weight: 100;

}

/* contact-section */

.contact {
    width: 30%;
    background-color: #1D232C;
    color: white;
    padding: 30px ;
    padding-right: 50px;
    border-radius: 10px;
    margin: 10% 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact input {
    max-width: 100%;
    padding: 5px;
}

.contact textarea {
    max-width: 100%;
    padding: 5px;
}

.contact input:focus {
    outline: none;
}

.contact textarea:hover {
    outline: none;
}

.contact h3 {
    max-width: fit-content;
    font-weight: 300;
    margin: 5px;
}

.contact-submit {
    color: white;
    background-color: blue;
    padding: 10px;
    border: black solid 1px;
    max-width: 50%;
    cursor: pointer;
}

.contact-submit:hover {
    background-color: red;
}

/* collection-section */

.col-sec {
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.aside {
    border-right: solid 3px black;
    flex-grow: 1;
    margin: 10px;
}
.aside h4{
    margin-right: 10px;
}
.col {
    flex-grow: 3;
    margin-top: 10px;

}

.col-cards{
    display: flex;
    margin-top:  20px;
    margin-left: 10px;
}
.col-card p{
    font-size: 10px;
    width: 80%;
}
.col-card h4{
    font-size: 10px;
    width: 80%;
}
.col-search{
    width: 60%;
    border: black solid 2px;
    font-size: 16px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-search input{
    width: 60%;
    border:none;
    font-size: 16px;
    padding: 3px;
}
.col-search input:focus{
    outline: none;
}

.topic {
    margin-top: 60px;
}


