*{
    margin: 0px;
    padding: 0px;
    
    font-family: "Poppins", sans-serif;
}

.offer{
    background-color: #1D232C;
    color: white;
    font-size:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 5px;
    
}
.close{
     margin-left: 50px;
     cursor: pointer;
     font-weight: 900px;
}

.close:hover{
    color: red;
}

.hidden{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    position: sticky;
    top: 10;
    
}
.navbar h1{
    font-size: 25px;
    color: #1D232C;
    margin-left: 5px
}
.fa-solid.fa-bars{
   cursor: pointer;
   margin-right: 10px;

}

.fa-solid.fa-bars:hover{
    color:red;
}

.title{
    margin-left: 10px;
    
}

.brand{
    display: flex;
    
    
    justify-content: space-around;
    margin: 20px 5px;
    margin-bottom: 10px;
}
.brand-items{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand-items h2{
    margin-top: 5px;
    font-size: 5px;
}

.customer-experience{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.customer-experience h3{
    font-size: 8px;
    margin-left: 10px;
}
.customer-experience p{
    font-size: 6px;
    margin-left: 10px;
}

.cards{
    

    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 4px;
    width: 95%;
}

.card{
    width: 18%;
    background-color: #F2F4F7;
    padding: 7px;
    border-radius: 10px;
}

.new-arraivals{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.arraivals{
    padding: 10px;
    position: relative;
}

.arraivals button{
    font-size: 4px;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom:30%;
    left: 30%;
    
    

}

.arraivals button:hover{
    color: #F2F4F7;
    background-color:black;
    border: black solid 1px;
    
    
}

.most-wanted{
     display: flex;
}

.wanted{
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.fa-solid.fa-heart{
    position: absolute;
    right: 15%;
    bottom: 25%;
    cursor: pointer;

}
.sale{
    position: absolute;
    font-size: 6px;
    background-color:red;
    color:white;
    padding: 3px;
}
.fa-solid.fa-heart:hover{
     color: red;
}

.limited{
    background-color: #1D232C;
    padding: 10px;
    display: flex;
}
.limited-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 6px;
    color: white;
}
.limited-2 button{
    font-size: 7px;
    margin-top: 5px;
    padding: 2px;
    cursor: pointer;
}

.limited-2 button:hover{
 background-color: black;
 color: white;

}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.subscribe h2{
    font-size: 16px;
    margin-bottom: 10px;
}
.subscribe p{
    font-size: 8px;
    margin-bottom: 10px;
}


 .btn{
    display: flex;
    justify-content: center;
    
    
 }
 .input{
    width: 100%;
 }
 .btn button{
    background-color: #1D232C;
    padding: 5px 10px;
    color: white;
    margin-bottom: 20px;
    border: none;
 }
 .btn button:hover{
    background-color: red;
 }

 .footer{
    background-color: #1D232C;
    color: white;
    padding: 30px;
    font-size: 8px;
    
 }
 footer h3{
    margin-bottom:10px ;
 }